@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Stargard Szczecinski (Poland)<br />
    Reja 21/7<br />
    <abbr title="Phone">P:</abbr>
    609 910 304
</address>

<address>
    <a href="mailto:wo.jasiczek@gmail.com">wo.jasiczek@gmail.com</a><br />
</address>