@model System.Collections.Generic.List<string>

@{
    ViewBag.Title = "Download";
    var selectSize = Model.Count < 10 ? Model.Count : 10;
}



<div id="DownloadForm">
    <h2>Download Files</h2>

    <div class="row form-group">
        <div class="col-lg-9">
            <select size="@selectSize" class="form-control files">
                @if (Model.Count == 0)
                {
                    <option disabled value="">There are no files!</option>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>
        <div class="col-lg-3">
            <input type="button" name="Delete" class="btn btn-default" value="Delete" />
        </div>
    </div>
</div id="DownloadForm">










