<p id="ActionButtons">
    <input id="buttonRemainder" type="button" value="Print remainder" class="btn btn-default" />
    <input id="buttonSignal" type="button" value="Print signal" class="btn btn-default" />
    <input id="buttonCorrectness" type="button" value="Check correctness" class="btn btn-default" />
</p>
